.card {
    padding: 1.5rem;
    /* p-6 */
    background-color: #1f2937;
    /* bg-gray-800 */
    border-radius: 0.5rem;
    /* rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
    color: #ffffff;
    /* text-white */
    height: 100%;
    box-sizing: border-box;
}

.loading {
    padding: 1.5rem;
    background-color: #1f2937;
    border-radius: 0.5rem;
    height: 16rem;
    /* h-64 */
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.title {
    font-size: 1.25rem;
    /* text-xl */
    line-height: 1.75rem;
    font-weight: 700;
    /* font-bold */
    margin-bottom: 1rem;
    /* mb-4 */
}

.metricsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}

.metricCard {
    background-color: #111827;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}

.metricRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111827;
    /* bg-gray-700 */
    padding: 0.75rem;
    /* p-3 */
    border-radius: 0.5rem;
    /* rounded */
}

.metricLabel {
    color: #9ca3af;
    /* text-gray-400 */
    font-size: 0.875rem;
    /* text-sm */
    margin-top: 0;
    margin-bottom: 0.1rem;
    /* mb-1 */
}

.metricValue {
    font-size: 1.5rem;
    /* text-2xl */
    line-height: 2rem;
    font-weight: 700;
    /* font-bold */
    margin: 0;
}

.positive {
    color: #4ade80;
    /* text-green-400 */
}

.warning {
    color: #facc15;
    /* text-yellow-400 */
}

.negative {
    color: #f87171;
    /* text-red-400 */
}

.metricTarget {
    font-size: 0.75rem;
    /* text-xs */
    color: #6b7280;
    /* text-gray-500 */
    margin: 0;
    /* mt-1 */
}