.card {
    padding: 1.5rem;
    /* p-6 */
    background-color: #1f2937;
    /* bg-gray-800 */
    border-radius: 0.5rem;
    /* rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    /* shadow-lg */
    color: #ffffff;
    /* text-white */
}

.loading {
    padding: 1.5rem;
    background-color: #1f2937;
    border-radius: 0.5rem;
    height: 16rem;
    /* h-64 */
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

.title {
    font-size: 1.25rem;
    /* text-xl */
    line-height: 1.75rem;
    font-weight: 700;
    /* font-bold */
    margin-bottom: 1rem;
    /* mb-4 */
}

.metricsGrid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    /* gap-6 */
    margin-bottom: 2rem;
    /* mb-8 */
}

.metricCard {
    background-color: #111827;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}

.metricLabel {
    color: #9ca3af;
    /* text-gray-400 */
    font-size: 0.875rem;
    /* text-sm */
    margin-top: 0;
    margin-bottom: 0.1rem;
    /* mb-1 */
}

.metricValue {
    font-size: 1.5rem;
    /* text-2xl */
    line-height: 2rem;
    font-weight: 700;
    /* font-bold */
    margin: 0;
}

.positive {
    color: #4ade80;
    /* text-green-400 */
}

.warning {
    color: #facc15;
    /* text-yellow-400 */
}

.metricTarget {
    font-size: 0.75rem;
    /* text-xs */
    color: #6b7280;
    /* text-gray-500 */
    margin: 0;
    /* mt-1 */
}

.chartContainer {
    height: 400px;
    width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.chartTitle {
    font-size: 0.875rem;
    /* text-sm */
    /* font-weight: 600; */
    /* font-semibold */
    color: #9ca3af;
    /* text-gray-400 */
    margin-bottom: 0.5rem;
    /* mb-2 */
    box-sizing: border-box;
}

.noData {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    /* text-gray-500 */
    background-color: rgba(55, 65, 81, 0.3);
    /* bg-gray-700/30 */
    border-radius: 0.25rem;
    /* rounded */
}